
//***********************************
// For Bulma 
//***********************************

$brown: hsl(28, 68%, 45%);
$link: hsl(208, 56%, 53%);
$red: hsl(6, 78%, 57%);

$primary: $brown;
$danger: $red;